@charset "UTF-8";

.joinContainer {margin-top:5%;}
.joinBox {border:2px #d8d8d8 solid; margin-top:3%; padding:30px;}
.inputCol input {text-align: -webkit-center; width:500px; height:45px; padding-top:0px; padding-left:4px; padding-bottom:0px}
.inputMbti {width:500px; height:45px;}

